stages:
  - Deploy Staging 
  - Deploy SIT & INTERIM
  - Deploy Production
  
# Deploy to Staging
Deploy Staging:
  stage: Deploy Staging 
  tags:
    - server_staging  
  variables:
    SEEDER_CLASS:
      value: ""
  script:
    - echo "Deploying to Staging..."
    - cd /var/www/html/helpdesk_be  
    - git pull origin staging
    - rm -rf node_modules package-lock.json
    - composer update --no-ansi --no-interaction --no-progress --prefer-dist --optimize-autoloader
    - npm install
    - php artisan optimize
    - npm run build
    - php artisan migrate --force
    - php artisan migrate --path=database/migrations/alter_table --force
    - |
      if [ -z "$SEEDER" ]; then
        echo "No seeder selected. Skipping."
        exit 0
      fi

      IFS=',' read -ra SEEDERS <<< "$SEEDER"

      for S in "${SEEDERS[@]}"; do
        S=$(echo "$S" | xargs) # trim spaces

        case "$S" in
          "ActionCodeSeeder" | \
          "BranchSeeder" | \
          "CategorySeeder" | \
          "ModuleSeeder" | \
          "PermissionSeeder" | \
          "RoleSeeder" | \
          "RefTableSeeder" | \
          "UserSeeder" | \
          "Production\\ProdSeeder" | \
          "Production\\CategorySeeder" | \
          "Production\\GroupSeeder" | \
          "Production\\SlaSeeder" | \
          "Production\\UserProdSeeder" | \
          "ReportSeeder")
            SEEDER_CLASS="Database\\Seeders\\$S"
            echo "Running seeder: $SEEDER_CLASS"
            php artisan db:seed --class="$SEEDER_CLASS" --force
            ;;
          *)
            echo "❌ Seeder NOT allowed: $S"
            exit 1
            ;;
        esac
      done
  when: manual
  only:
    - staging
  environment:
    name: staging

# Deploy to Pre Prod 1 - SIT
Deploy Preprod 1 SIT:
  stage: Deploy SIT & INTERIM
  tags:
    - server_preprod1  
  variables:
    SEEDER_CLASS:
      value: ""
  script:
    - echo "Deploying to Pre Prod 1 - SIT ..."
    - cd /var/www/html/helpdesk/be  
    - git pull origin staging
    - rm -rf node_modules package-lock.json
    - composer update --no-ansi --no-interaction --no-progress --prefer-dist --optimize-autoloader
    - npm install
    - php artisan optimize
    - npm run build
    - php artisan migrate --force
    - echo "Pre Prod 1 - SIT deployment completed!"
    - php artisan migrate --path=database/migrations/alter_table --force
    - |
      if [ -z "$SEEDER" ]; then
        echo "No seeder selected. Skipping."
        exit 0
      fi

      IFS=',' read -ra SEEDERS <<< "$SEEDER"

      for S in "${SEEDERS[@]}"; do
        S=$(echo "$S" | xargs) # trim spaces

        case "$S" in
          "ActionCodeSeeder" | \
          "BranchSeeder" | \
          "CategorySeeder" | \
          "ModuleSeeder" | \
          "PermissionSeeder" | \
          "RoleSeeder" | \
          "RefTableSeeder" | \
          "UserSeeder" | \
          "Production\\ProdSeeder" | \
          "Production\\CategorySeeder" | \
          "Production\\GroupSeeder" | \
          "Production\\SlaSeeder" | \
          "Production\\UserProdSeeder" | \
          "ReportSeeder")
            SEEDER_CLASS="Database\\Seeders\\$S"
            echo "Running seeder: $SEEDER_CLASS"
            php artisan db:seed --class="$SEEDER_CLASS" --force
            ;;
          *)
            echo "❌ Seeder NOT allowed: $S"
            exit 1
            ;;
        esac
      done
  when: manual
  only:
    - staging
  environment:
    name: preprod1-sit

# Deploy to Pre Prod 1 - INTERIM
Deploy Preprod 1 INTERIM:
  stage: Deploy SIT & INTERIM
  tags:
    - server_preprod1 
  variables:
    SEEDER_CLASS:
      value: "" 
  script:
    - echo "Deploying to Pre Prod 1 - INTERIM ..."
    - cd /var/www/html/interim/be  
    - git pull origin staging
    - rm -rf node_modules package-lock.json
    - composer update --no-ansi --no-interaction --no-progress --prefer-dist --optimize-autoloader
    - npm install
    - php artisan optimize
    - npm run build
    - php artisan migrate --force
    - echo "Pre Prod 1 - INTERIM deployment completed!"
    - php artisan migrate --path=database/migrations/alter_table --force
    - |
      if [ -z "$SEEDER" ]; then
        echo "No seeder selected. Skipping."
        exit 0
      fi

      IFS=',' read -ra SEEDERS <<< "$SEEDER"

      for S in "${SEEDERS[@]}"; do
        S=$(echo "$S" | xargs) # trim spaces

        case "$S" in
          "ActionCodeSeeder" | \
          "BranchSeeder" | \
          "CategorySeeder" | \
          "ModuleSeeder" | \
          "PermissionSeeder" | \
          "RoleSeeder" | \
          "RefTableSeeder" | \
          "UserSeeder" | \
          "Production\\ProdSeeder" | \
          "Production\\CategorySeeder" | \
          "Production\\GroupSeeder" | \
          "Production\\SlaSeeder" | \
          "Production\\UserProdSeeder" | \
          "ReportSeeder")
            SEEDER_CLASS="Database\\Seeders\\$S"
            echo "Running seeder: $SEEDER_CLASS"
            php artisan db:seed --class="$SEEDER_CLASS" --force
            ;;
          *)
            echo "❌ Seeder NOT allowed: $S"
            exit 1
            ;;
        esac
      done
  when: manual
  only:
    - staging
  environment:
    name: preprod1-interim

# Deploy to Pre Prod 2 - SIT
Deploy Preprod 2 SIT:
  stage: Deploy SIT & INTERIM
  tags:
    - server_preprod2
  script:
    - echo "Deploying to Pre Prod 2 - SIT ..."
    - cd /var/www/html/helpdesk/be  
    - git pull origin staging
    - rm -rf node_modules package-lock.json
    - composer update --no-ansi --no-interaction --no-progress --prefer-dist --optimize-autoloader
    - npm install
    - php artisan optimize
    - npm run build
    - php artisan migrate --force
    - echo "Pre Prod 2 - SIT deployment completed!"
    - php artisan migrate --path=database/migrations/alter_table --force
  when: manual
  only:
    - staging
  environment:
    name: preprod2-sit

# Deploy to Production 1
Deploy Production 1:
  stage: Deploy Production
  tags:
    - server_production_1
  script:
    - echo "Deploying to Production 1 ..."
    - cd /var/www/html/helpdesk/be  
    - git pull origin main
    - rm -rf node_modules package-lock.json
    # - composer update --no-ansi --no-interaction --no-progress --prefer-dist --optimize-autoloader
    - npm install
    - php artisan optimize
    - npm run build
    - php artisan migrate --force
    - echo "Production 1 - deployment completed!"
    - php artisan migrate --path=database/migrations/alter_table --force
    - |
      if [ -z "$SEEDER" ]; then
        echo "No seeder selected. Skipping."
        exit 0
      fi

      IFS=',' read -ra SEEDERS <<< "$SEEDER"

      for S in "${SEEDERS[@]}"; do
        S=$(echo "$S" | xargs) # trim spaces

        case "$S" in
          "ActionCodeSeeder" | \
          "BranchSeeder" | \
          "CategorySeeder" | \
          "ModuleSeeder" | \
          "PermissionSeeder" | \
          "RoleSeeder" | \
          "RefTableSeeder" | \
          "UserSeeder" | \
          "Production\\ProdSeeder" | \
          "Production\\CategorySeeder" | \
          "Production\\GroupSeeder" | \
          "Production\\SlaSeeder" | \
          "Production\\UserProdSeeder" | \
          "ReportSeeder")
            SEEDER_CLASS="Database\\Seeders\\$S"
            echo "Running seeder: $SEEDER_CLASS"
            php artisan db:seed --class="$SEEDER_CLASS" --force
            ;;
          *)
            echo "❌ Seeder NOT allowed: $S"
            exit 1
            ;;
        esac
      done
  when: manual
  only:
    - main
  environment:
    name: production1

# Deploy to Production 2
Deploy Production 2:
  stage: Deploy Production
  tags:
    - server_production_2
  script:
    - echo "Deploying to Production 2 ..."
    - cd /var/www/html/helpdesk/be  
    - git pull origin main
    - rm -rf node_modules package-lock.json
    # - composer update --no-ansi --no-interaction --no-progress --prefer-dist --optimize-autoloader
    - npm install
    - php artisan optimize
    - npm run build
    - php artisan migrate --force
    - echo "Production 2 - deployment completed!"
    - php artisan migrate --path=database/migrations/alter_table --force
  when: manual
  only:
    - main
  environment:
    name: production2

