# deploy:
#   stage: deploy
#   environment: staging
#   tags:
#     - deploy backend helpdesk
#   script:
#     - echo "=== START DEPLOY BACKEND BACKEND ==="
#     - cd /var/www/html/ificsbe-niise
#     - git remote set-url origin https://$CI_PAT_USERNAME:$CI_PAT_TOKEN@scm.awanheitech.com/digit/external/niise/ams/ams-fe.git
#     - git pull
#     - php artisan optimize
#     - php artisan migrate
#     - echo "=== DEPLOY FINISHED ==="

deploy:
  stage: deploy
  environment: staging
  script:
    - echo "=== START DEPLOY BACKEND BACKEND ==="
    - cd /var/www/html/helpdesk_be
    - git remote set-url origin https://$CI_PAT_USERNAME:$CI_PAT_TOKEN@pro-scm.awanheitech.com/digit/hds/niise-hds-be.git
    - git pull
    - php artisan optimize
    - php artisan migrate
    - echo "=== DEPLOY FINISHED ==="

 