stages:
  - deploy
  
# Deploy to Staging
Deploy Staging:
  stage: deploy
  tags:
    - server_staging  
  script:
    - echo "Deploying to Staging..."
    - cd /var/www/html/helpdesk_be  
    - git pull origin staging
    - npm install
    - npm run build
    - php artisan migrate --force
    - php artisan optimize
    - echo "Staging deployment completed!"
  when: manual
  only:
    - staging
  environment:
    name: staging

# Deploy to Pre Prod 1 - SIT
Deploy Preprod 1 Staging:
  stage: deploy
  tags:
    - server_preprod1  
  script:
    - echo "Deploying to Pre Prod 1 - SIT ..."
    - cd /var/www/html/helpdesk/be  
    - git pull origin staging
    - npm install
    - npm run build
    - php artisan migrate --force
    - php artisan optimize
    - echo "Pre Prod 1 - SIT deployment completed!"
  when: manual
  only:
    - staging
  environment:
    name: preprod1-sit

# Deploy to Pre Prod 1 - INTERIM
Deploy Preprod 1 INTERIM:
  stage: deploy
  tags:
    - server_preprod1  
  script:
    - echo "Deploying to Pre Prod 1 - INTERIM ..."
    - cd /var/www/html/interim/be  
    - git pull origin staging
    - npm install
    - npm run build
    - php artisan migrate --force
    - php artisan optimize
    - echo "Pre Prod 1 - INTERIM deployment completed!"
  when: manual
  only:
    - staging
  environment:
    name: preprod1-interim

# Deploy to Pre Prod 2 - SIT
Deploy Preprod 2 SIT:
  stage: deploy
  tags:
    - server_preprod2
  script:
    - echo "Deploying to Pre Prod 2 - SIT ..."
    - cd /var/www/html/helpdesk/be  
    - git pull origin staging
    - npm install
    - npm run build
    - php artisan migrate --force
    - php artisan optimize
    - echo "Pre Prod 2 - SIT deployment completed!"
  when: manual
  only:
    - staging
  environment:
    name: preprod2-sit

# Deploy to Production 1
Deploy Production 1:
  stage: deploy
  tags:
    - server_production_1
  script:
    - echo "Deploying to Production 1 ..."
    - cd /var/www/html/helpdesk/be  
    - git pull origin master
    - npm install
    - npm run build
    - php artisan migrate --force
    - php artisan optimize
    - echo "Production 1 - deployment completed!"
  when: manual
  only:
    - master
  environment:
    name: production1

# Deploy to Production 2
Deploy Production 2:
  stage: deploy
  tags:
    - server_production_2
  script:
    - echo "Deploying to Production 2 ..."
    - cd /var/www/html/helpdesk/be  
    - git pull origin master
    - npm install
    - npm run build
    - php artisan migrate --force
    - php artisan optimize
    - echo "Production 2 - deployment completed!"
  when: manual
  only:
    - master
  environment:
    name: production2

