debug-env:
  stage: test
  environment: staging
  script:
    - env | grep DEPLOY
  rules:
    - when: always

deploy:
  stage: deploy
  environment: staging
  before_script:
    - apt-get update -yqq
    - apt-get install -y rsync ssh openssh-client
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - echo -e "Host *\n\tPort 8822\n\tStrictHostKeyChecking no\n" > ~/.ssh/config
  script:
    - echo "Deploying to STAGING..."
    - echo "Deploying to $DEPLOY_USER@$DEPLOY_SERVER:$DEPLOY_PATH"
    - rsync -az --delete --delete-excluded --exclude=".git" --exclude=".env" --exclude="storage" ./ $DEPLOY_USER@$DEPLOY_SERVER:$DEPLOY_PATH
    - ssh -p 8822 $DEPLOY_USER@$DEPLOY_SERVER "cd $DEPLOY_PATH && composer install --no-dev --optimize-autoloader && php artisan migrate --force && php artisan optimize"
